{% load static %}
<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
        <meta name="author" content="Emmanuel Eddie Joshua Kweh (Demiz)">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
        <meta name="description" content="About C19">
        <title>C19</title>
    </head>
    <body>
        <!--
        <div class="to">
            <a href="/"><button><< Home</button></a>
        </div>
        -->
        <div class="main_container" align="center">
            <div class="demiz">
                <div class="profile_pic">
                    <img src="{% static 'Emmanuel_Demiz_Eddie_Joshua_Kweh.jpg' %}" alt="Demiz Profile">
                </div>
                <div class="intro">
                    <h1 class="intro_header">Overall View</h1>
                    <p>
                        Hi, I am Emmanuel Eddie Joshua Kweh (Demiz). I'm a student
                         reading Diploma in Software Development at Openlabs 
                        NIIT Ghana. I started Programming last year September 
                        and released the first version (console app) of this Project 
                        after 4 months of learning Python at Sololearn, GeeksforGeeks and 
                        DataCamp. My objective is to become 
                        a Data Scientist, Software Engineer, Data Analyst, Web Developer
                        etc. So help me God.
                    </p>

                    <h1 class="intro_header">Finacial Status</h1>
                    <p>
                        <span class="intro_sub_headers">Last year Status:</span>
                        Broke
                    </p>
                    <p>
                        <span class="intro_sub_headers">Beginning of this year Status:</span>
                        Broke
                    </p>
                    <p>
                        <span class="intro_sub_headers">Current Status:</span>
                        Broke
                    </p>
                    <p>
                        <span class="intro_sub_headers">Ahh why?:</span>
                        Because I'm in Ghana
                    </p>
                    <h1 class="intro_header">Relationship</h1>
                    <p>
                        Single, better things dey my mind right now ashawo 
                        too the price go up buh if money dey we too go chop.
                    </p>
                    <h1 class="intro_header">Skills</h1>
                    <p>
                        <ul type="circle">
                            <li>Python Programming</li>
                            <li>Backend Web Development with Django</li>
                            <li>Data Analyst (Entry Level)</li>
                            <li>Graphic Design</li>
                            <li>Frontend Development with HTML/CSS</li>
                            <li>Microsoft (Word, Excel, Access)</li>
                        </ul>
                        One of the professional skills is that I know how to keep people's
                        money well well.
                    </p>
                </div>
            </div>
            <div class="demiz">
                <h1 class="intro_header" style="padding-top: 40px;">About</h1>
                <div class="about_c19" id="about">
                    <p>
                        I released the first version (console app) of this Project 
                        after 4 months of learning Python at Sololearn, GeeksforGeeks and 
                        DataCamp. This work isn't a big deal because I used simple
                        idea and tools to build it, matplotlib and pandas in python 
                        and web scraping technologies did the trick. I admired C19 
                        because of the encouragement from people, I decided not to abandon
                        the project even when my portfolio crashed. So here it is HTML/CSS
                        is doing the styling (Frontend) while Python is completely doing
                        the dirty work (Backend).
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>